{% extends 'base.html' %}
{% load static %}

{% block title %}Вход{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-card">
    <h2>Вход в систему</h2>
    
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p style="color: red;">{{ error }}</p>
        {% endfor %}
    {% endif %}
    
    <form method="post">
        {% csrf_token %}
        
        <div class="form-field">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
        </div>
        
        <div class="form-field">
            <label for="password">Пароль</label>
            <input type="password" name="password" id="password" required>
        </div>
        
        <button type="submit">Войти</button>
    </form>
    <p class="auth-link">Нет аккаунта? <a href="{% url 'users:register' %}">Зарегистрироваться</a></p>
</div>
{% endblock %}