{% extends 'base.html' %}
{% load static %}

{% block title %}Актуальные проекты{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/project_list.css' %}">
{% endblock %}

{% block content %}
<div class="project-container">
    <div class="project-header">
        <h2 class="project-title">Актуальные проекты</h2>
        {% if projects %}
            <a href="/projects/create-project" class="black-button">+ Создать проект</a>
        {% endif %}
    </div>
    <p class="project-subtitle">Найдите интересный проект и присоединитесь к команде</p>

    <div class="projects-grid">
        {% for project in projects %}
        {% include 'includes/project-card.html' %}
        {% empty %}
        {% include 'includes/empty-project-card.html' with empty_title="Пока нет проектов" empty_message="Создавайте проекты и делитесь ими с другими пользователями!" button_link="/projects/create-project" button_text="+ Создать проект" %}
        {% endfor %}
    </div>
</div>
{% endblock %}
